GOPATH=$(go env GOPATH)
if [[ ! -d "$GOPATH" ]]; then
  echo "$GOPATH is not a valid directory."
  echo 'Please ensure `go env GOPATH` points to a valid directory!'
  echo 'Either create the directory, or set a $GOPATH environment variable.'
  exit 1
fi

export BASE_DIR=$(git rev-parse --show-toplevel 2>/dev/null)
export PATH=$GOPATH/bin:$PATH
export GOFLAGS="-mod=vendor"
